.App {
    z-index: 1;
    transform: translateX(-150%);
    animation: ani 1s forwards;
}
.App1 {
    z-index: 1;
    transform: translateX(-150%);
    animation: ani 1s forwards;
}
@keyframes ani {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateY(0);
    }
}
.lable1 {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(190 190 190 / 10%);
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
#name_par {
    font-size: 15px;
    
}
.start_button {
    display: flex;
    height: 150px;
    width: 90%;
    margin: 0 auto;
    position: fixed;
    border-radius: 5px;
    background: rgb(0 255 33);
}
.label-1-up {
    margin-left: 5%;
    width: 60%;
    display: flex;
}

#label-1-up-text-2 {
    margin-left: 15px;
}
#label-1-up-text-3 {
    
   position: relative;
   left:50%;
   text-align:end;
   width: 160px;
}
.label-1-up h1 {
    font-size: 15.2312px;
    color: gray;
}
#time {
  margin-right: 5%;
}
.label-1-center {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
#label-1-center-text-2 {
    font-size: 15.2312px;
    color: gray;
}
.label-1-down {
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
}
.label-1-down h1 {
   font-size: 15.2312px;
   color: gray;
}
.collapse {
    /* Never collapse the sidebar for wide screens */
    display: flex;
}
.collapse1 {
    /* Never collapse the sidebar for wide screens */
    display: none;
}
.buttons{
    display: flex;

}
.b-date {
    width: 60px;
    height: 90px;
}
.b-date a{
    padding: 0px 0px 0px 9px;
}
    .b1 {
        width: 40px;
        margin-right: 20px;
        height: 40px;
        background: white;
        border-radius: 50%;
        border: 1px solid #000000;
        margin-bottom: 20px;
    }
.b1 h1{
    font-size: 20px;
   text-align: center;
   position: relative;
   top: 7px;
}
.b1:hover {
  background: #00c4ff;
}

#date_name {
    font-size: 25px;
    display: flex;
    flex-direction: column;
   
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  
    margin-bottom: 20px;
}
.b1ght {
    background: blue;
}
footer{
    z-index: 10;
}
.footer-down {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(0 0 0);
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.search{
    position: relative;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: red;
    margin: 3px auto;

}
.collapse {
    display: none;
}